<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.xawl.study.servlet.test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.loginservlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUploadImageServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminUploadImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminFileUploadServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminFileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminChangeImage</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminChangeImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAdminInfoServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.UpdateAdminInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginOutServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminLoginOutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminShowUserInfoServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminShowUserInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminChangeCountServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminChangeCountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUpdateUserServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminUpdateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexDoorServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.IndexDoorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminInfoServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AdminManageInterestServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminManageInterestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminMenuServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminMenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminResourceServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminIndexServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminIndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCategoryServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.AdminCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.CategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PCenterServlet1</servlet-name>
		<servlet-class>com.xawl.study.servlet.PCenterServlet</servlet-class>
	</servlet>
	<!-- <filter> <filter-name>LogFilter</filter-name> <filter-class>com.xawl.study.util.LogFilter</filter-class> 
		</filter> -->



	<error-page>
		<error-code>404</error-code>
		<location>/User/Jsp/error/e404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>
	</error-page>
	<servlet-mapping>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<url-pattern>/VerifyCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/servlet/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/ResourceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUploadImageServlet</servlet-name>
		<url-pattern>/AdminUploadImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminFileUploadServlet</servlet-name>
		<url-pattern>/AdminFileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminChangeImage</servlet-name>
		<url-pattern>/AdminChangeImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAdminInfoServlet</servlet-name>
		<url-pattern>/UpdateAdminInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginOutServlet</servlet-name>
		<url-pattern>/AdminLoginOutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminShowUserInfoServlet</servlet-name>
		<url-pattern>/AdminShowUserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminChangeCountServlet</servlet-name>
		<url-pattern>/AdminChangeCountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUpdateUserServlet</servlet-name>
		<url-pattern>/AdminUpdateUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexDoorServlet</servlet-name>
		<url-pattern>/IndexDoorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminInfoServlet</servlet-name>
		<url-pattern>/AdminInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminManageInterestServlet</servlet-name>
		<url-pattern>/AdminManageInterestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminMenuServlet</servlet-name>
		<url-pattern>/AdminMenuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminResourceServlet</servlet-name>
		<url-pattern>/AdminResourceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminIndexServlet</servlet-name>
		<url-pattern>/AdminIndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCategoryServlet</servlet-name>
		<url-pattern>/AdminCategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/CategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PCenterServlet1</servlet-name>
		<url-pattern>/PCenterServlet</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>SpringEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SpringEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter-mapping> <filter-name>LogFilter</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> -->
	<servlet>
		<servlet-name>demo</servlet-name>
		<servlet-class>com.xawl.study.servlet.demo</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ExamServlet</servlet-name>
		<servlet-class>com.xawl.study.servlet.ExamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>demo</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExamServlet</servlet-name>
		<url-pattern>/ExamServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>4320</session-timeout>
	</session-config>
</web-app>