@charset "utf-8";
/* CSS Document */
/*begin*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
}
img {
	border: none;
}
li {
	list-style: none;
}
a, a:focus, input, botton, botton:focus, select, textarea {
	outline: none;
}
textarea {
	resize: none;
}
a, a:hover {
	color: #000;
	text-decoration: none;
}
/*header*/
.nav_bar {
	clear: both;
	background: url(../Images/nav_bar.jpg);
	background-size: 100%;
	box-shadow: 0 1px 2px 2px rgba(0,0,0,.1);
	position: static;
}
.nav_bar_con {
	width: 1000px;
	margin: 0 auto;
}
.navbar-nav {
	margin: 0px;
}
.logo {
	padding: 0 20px 0 15px;
}
.logo img {
	height: 51px;
	line-height: 51px;
	display: inline-block;
}
.logo_text {
	padding-left: 15px;
	font-weight: bold;
}
.item_list li a:hover {
	color: #FFF;
	background-color: #000;
	filter: alpha(opacity=70); 
	-moz-opacity: 0.7; 
	opacity: 0.7;
}
.search_c, .search_cc {
	padding: 7px 8px;
	color: #202020;
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
}
.search_c:hover, .search_cc:hover {
	color: #FFF;
}
.message span {
	font-size: 16px;
	line-height: 16px;
}
.search_ip {
	border: none;
	background-color: #eee;
	color: #FFF;
	margin: 0 5px;
	height: 32px;
}
.search {
	display: none;
}
.icon-bar {
	background-color: #202020;
}
 @media (max-width:768px) {
.nav_bar_con {
	width: auto;
}
#search {
	width: 98%;
}
.nav_bar {
	background: url(../Images/nav_bar.jpg);
	background-size: 200%;
	box-shadow: 0 1px 2px 2px rgba(0,0,0,.1);
}
}
@media (max-width:1000px) {
.nav_bar_con {
	width: auto;
}
}
/*login and register*/
.lgAndRg {
	font-size: 14px;
}
.tabs_bar a, .checkbox a, .vcode a {
	color: #000;
}
.tabs_bar li a:hover {
	background-color: #202020;
	color: #FFF;
}
.checkbox a:hover, .vcode a:hover {
	color: #19B5FE;
}
.vcode img {
	margin: 0 8px;
	width: 100px;
	height: 35px;
}
.modal-footer img {
	width: 28px;
	height: 28px;
	border-radius: 14px;
}
.modal-footer a {
	padding-left: 10px;
}
.loandre_btn {
	background-image: linear-gradient(to bottom, #202020, #202020 100%);
	border-color: #202020;
	color: #FFF;
}
.loandre_btn:hover {
	background-image: linear-gradient(to bottom, #f0ad4e, #f0ad4e 100%);
	border-color: #f0ad4e;
	color: #FFF;
}

/*article*/
.wrap {
	max-width: 1200px;
	margin: 40px auto 0;
	overflow: hidden;
}
.content_box {
	width: 850px;
	float: left;
}
.read {
	background: #f1f1f1;
	box-shadow: 0 2px 2px rgba(238,238,238,.08);
	padding: 30px 40px;
	margin-bottom: 40px;
}
.read h3 {
	line-height: 50px;
}
.read .post-element {
	overflow: hidden;
	padding: 20px 0 10px;
}
.read .post-element span {
	display: block;
	color: #202020;
	float: left;
	height: 25px;
	line-height: 20px;
	font-size: 12px;
	margin: 0 27px 0 0;
	padding: 0;
	position: relative;
}
.read .post-element span i {
	padding-right: 5px;
	color: #202020;
	font-size: 15px;
}
.read .post-element span img {
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	left: 0;
	padding: 1px;
	position: absolute;
	width: 20px;
}
.read .post-element span:nth-child(1) a {
	color: #444;
	margin-left: 30px;
}
.read .post-element span a:hover {
	color: #f0ad4e;
}
.read .more {
	padding: 25px 0;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
.read .more p {
	line-height: 32px;
	font-size: 16px;
	text-indent: 2em;
}
.read .more img {
	width: 100%;
	margin: 20px 0;
}
.read .linkmore {
	margin-top: 30px;
}
.read .linkmore a:hover {
	color: #f0ad4e;
}
.read .comment {
	border-top: 1px solid #666;
	padding: 30px 0;
}
.read .com_text {
	height: 160px;
	width: 100%;
	border: 1px solid #ccc;
}
.read .com_submit {
	padding: 5px 40px;
	margin-top: 10px;
	float: right;
	border: 1px solid #f0ad4e;
	background-color: #f0ad4e;
	color: #FFF;
}
.read .media-body h4 {
	font-size: 16px;
}
.read .media-body {
	font-size: 14px;
}
 @media screen and ( max-width:1200px) {
.content_box {
	width: 70%
}
}
 @media screen and ( max-width:1050px) {
.content_box {
	width: 100%
}
.sidebar {
	display: none
}
}
/* sidebar-box */
.sidebar {
	float: right;
	border-radius: 2px;
	width: 310px;
	overflow: hidden;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.sidebar .tuijian {
	box-shadow: 0 2px 2px rgba(0,0,0,.08);
}
.sidebar .tuijian img {
	display: block;
	width: 310px;
}
.sidebar .nei_box li a {
	color: #666;
}
.sidebar .nei_box li a:hover {
	color: #f0ad4e;
	margin: 0 6px 10px 0
}
.sidebar .nei_box {
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 25px;
	padding: 22px 20px 40px;
	background: #f1f1f1;
	box-shadow: 0 2px 2px rgba(238,238,238,.08);
}
.sidebar .nei_box h3 {
	font-size: 18px;
	color: #282828;
	font-weight: 400;
	padding-bottom: 13px;
	margin-bottom: 28px;
	border-bottom: 2px solid #080808;
}
.sidebar .nei_box h3 span {
	margin-left: 10px;
}
.sidebar .nei_box .img_box {
	position: relative;
	width: 270px;
	height: 160px;
	overflow: hidden;
	background: #000
}
.sidebar .nei_box .img_box img {
	display: block;
	width: 270px;
	height: 160px;
	overflow: hidden;
	transition: all .2s ease-in-out;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
}
.sidebar .nei_box .img_box img:hover {
	transform: scale(1.1, 1.1);
	opacity: .6
}
.sidebar .nei_box .img_box .art_title {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5px 15px;
	background: rgba(0,0,0,.5);
}
.sidebar .nei_box .img_box .art_title span {
	font-size: 1.2rem;
	color: #ccc;
}
.sidebar .nei_box .img_box .art_title h4 a {
	font-size: 13px;
	color: #ccc;
}
.sidebar .nei_box .img_box .art_title span i {
	margin: 0 5px;
	font-size: 1.4rem;
}
.sidebar .nei_box dl {
	overflow: hidden;
	margin-top: 25px;
}
.sidebar .nei_box dl dt {
	float: left;
	width: 65px;
	height: 65px;
	margin-right: 10px;
}
.sidebar .nei_box dl dt img {
	display: block;
	width: 65px;
	height: 65px;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
}
.sidebar .nei_box dl dd {
	float: left;
	width: 185px;
	font-size: 1.28rem;
	font-weight: 400
}
.sidebar .nei_box dl dd.biaoti {
	margin: 10px 0 5px 0;
}
.sidebar .nei_box dl dd a {
	color: #273746
}
.sidebar .nei_box dl dd a:hover {
	color: #f0ad4e
}
.sidebar .nei_box dl .date {
	font-size: 12px;
	padding-top: 5px;
}
.sidebar .nei_box dl .date i {
	margin-right: 5px;
	font-size: 1.4rem;
}
.sidebar .nei_box .hot_tag a {
	color: #fff;
	display: inline-block;
	padding: 4px 10px;
	font-size: 1.2rem;
	border-radius: 3px;
	line-height: 16px;
	font-weight: 400;
	margin: 0 10px 10px 0;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.sidebar .nei_box .hot_tag a:nth-child(6n+1) {
	background-color: #ff5e5c;
}
.sidebar .nei_box .hot_tag a:nth-child(6n+2) {
	background-color: #ffbb50;
}
.sidebar .nei_box .hot_tag a:nth-child(6n+3) {
	background-color: #19B5FE;
}
.sidebar .nei_box .hot_tag a:nth-child(6n+4) {
	background-color: #1ac756;
}
.sidebar .nei_box .hot_tag a:nth-child(6n+5) {
	background-color: #e60012;
}
.sidebar .nei_box .hot_tag a:nth-child(6n+6) {
	background-color: #9e0ca0;
}
.sidebar .nei_box .hot_tag a:hover {
	background-color: #4a4a4a
}
.sidebar .nei_box .title {
	position: relative;
	padding: 0;
	border-bottom: solid 1px #666;
	position: relative;
	text-align: center;
	margin: 0 10px;
	margin-bottom: 35px;
	font-size: 15px;
	color: #666;
	margin-top: 15px;
}
.sidebar .nei_box .title h5 {
	position: absolute;
	bottom: -8px;
	padding: 0 10px;
	left: 50px;
	background: #f1f1f1;
	font-size: 1.5rem;
	letter-spacing: 1px
}
.sidebar .nei_box .contact {
	width: 184px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 5px;
}
.sidebar .nei_box .contact a {
	color: #fff;
	display: block;
	float: left;
	font-family: 'iconfont';
	font-size: 1.8rem;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	background: #ff5e5c;
	border-radius: 3px;
	margin: 0 3px;
	transition: all .3s ease-in-out;
}
.sidebar .nei_box .contact .email {
	background-color: #ffbb50
}
.sidebar .nei_box .contact .qq {
	background-color: #19B5FE
}
.sidebar .nei_box .contact .weixin {
	background-color: #1ac756;
	cursor: pointer;
}
.sidebar .nei_box .contact a:hover {
	background-color: #4a4a4a;
}
.sidebar .nei_box {
	position: relative;
}
.sidebar .nei_box .ewm {
	transition: all .3s ease-in-out;
	overflow: hidden;
	margin: 40px 0 0 50px;
	width: 130px;
	height: 0px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,.2)
}
.sidebar .nei_box .ewm img {
	display: block;
	width: 100px;
	margin: 10px auto;
}
